@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorTransition {
  0% {
    color: black;
  }

  50.0% {
    color: darkblue;
  }

  100.0% {
    color: gray;
  }
}

.spinner {
  margin: 0 auto;
  width: 41px;
  height: 41px;
  border: 5px solid #838383;
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  display: block;
}

#main-div {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3em;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  transition-duration: 333ms;
  box-shadow: 4px 7px 3px #a8a8a8;
}

#main-div:hover {
  transform: translate(2em, -1.4em);
  box-shadow: 7px 5px 7px black !important;
}

#main-header > span::selection {
  background: black;
  color: white;
  font-weight: bold;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 25px;
  background-color: black;
  opacity: 1;
  animation: blink 1.3s infinite;
  margin-bottom: -0.1em;
}

.span-token-text {
  color: #838383;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.span-token-text-complete {
  color: black;
  text-shadow: 1px 2px 1px black;
}

.span-token-text-complete:hover {
  color: #838383;
}

.author-char {
  animation: colorTransition 1.7s 1;
}
